In [1]:
import pandas as pd
df = pd.read_csv('annotation_data.csv')

In [2]:
df.head()

,annotation_id,platform,project_name,annotator_id,task_id,task_type,submission_timestamp,review_timestamp,annotation_quality_score,error_flag,error_type,time_spent_seconds,annotator_experience_days,training_completed,guideline_version,reviewer_id,confidence_score
0,ANN_078303,Platform_A,Project_A1_Sentiment,USER_A_0068,TASK_94975,sentiment_scale,1/7/2024 16:36,1/8/2024 12:36,0.81,0,NaN,83.0,311,No,v1.3.1,REV_029,0.51
1,ANN_066465,Platform_A,Project_A2_EntityExtraction,USER_A_0218,TASK_16926,location_entity,9/16/2024 10:13,9/19/2024 2:13,0.97,0,NaN,78.0,270,Yes,v2.0.2,REV_002,NaN
2,ANN_093228,Platform_B,Project_B2_Summarization,USER_B_0109,TASK_76406,text_summary,9/1/2024 18:18,NaN,0.74,0,NaN,91.0,3,Yes,v2.0.0,NaN,0.81
3,ANN_001748,Platform_A,Project_A2_EntityExtraction,USER_A_0208,TASK_10746,person_entity,2/20/2024 21:56,2/21/2024 19:56,0.76,0,NaN,106.0,212,Yes,v2.0.0,REV_014,0.53
4,ANN_080005,Platform_A,Project_A2_EntityExtraction,USER_A_0021,TASK_19426,organization_entity,1/20/2024 18:16,1/22/2024 1:16,0.86,0,NaN,35.0,37,1,v1.1.6,REV_014,0.51

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100500 entries, 0 to 100499
Data columns (total 17 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   annotation_id              100500 non-null  object
 1   platform                   100500 non-null  object
 2   project_name               100500 non-null  object
 3   annotator_id               100500 non-null  object
 4   task_id                    98440 non-null   object
 5   task_type                  100500 non-null  object
 6   submission_timestamp       100500 non-null  object
 7   review_timestamp           85599 non-null   object
 8   annotation_quality_score   97521 non-null   float64
 9   error_flag                 100500 non-null  int64
 10  error_type                 15501 non-null   object
 11  time_spent_seconds         98505 non-null   float64
 12  annotator_experience_days  100500 non-null  int64
 13  training_completed         100500 non-null  object
 14  guideline_version          97334 non-null   object
 15  reviewer_id                85599 non-null   object
 16  confidence_score           96507 non-null   float64
dtypes: float64(3), int64(2), object(12)
memory usage: 13.0+ MB

In [4]:
df.describe(include ='all')

,annotation_id,platform,project_name,annotator_id,task_id,task_type,submission_timestamp,review_timestamp,annotation_quality_score,error_flag,error_type,time_spent_seconds,annotator_experience_days,training_completed,guideline_version,reviewer_id,confidence_score
count,100500,100500,100500,100500,98440,100500,100500,85599,97521.000000,100500.000000,15501,98505.000000,100500.000000,100500,97334,85599,96507.000000
unique,100000,2,8,450,59741,26,90902,78644,NaN,NaN,42,NaN,NaN,8,123,30,NaN
top,ANN_028178,Platform_A,Project_A2_EntityExtraction,USER_A_0144,TASK_27948,positive_negative,4/24/2024 16:04,8/30/2024 20:49,NaN,NaN,guideline_confusion,NaN,NaN,No,v1.2.3,REV_024,NaN
freq,2,60260,29224,286,8,9962,6,5,NaN,NaN,3753,NaN,NaN,48447,1323,3008,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.795514,0.154239,NaN,123.759626,182.620886,NaN,NaN,NaN,0.750041
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.157292,0.361179,NaN,542.480439,105.353756,NaN,NaN,NaN,0.144689
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.300000,0.000000,NaN,0.000000,1.000000,NaN,NaN,NaN,0.500000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730000,0.000000,NaN,37.000000,92.000000,NaN,NaN,NaN,0.620000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.820000,0.000000,NaN,59.000000,182.000000,NaN,NaN,NaN,0.750000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.910000,0.000000,NaN,91.000000,274.000000,NaN,NaN,NaN,0.880000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,7199.000000,365.000000,NaN,NaN,NaN,1.000000

In [5]:
df.isnull().sum()

annotation_id                    0
platform                         0
project_name                     0
annotator_id                     0
task_id                       2060
task_type                        0
submission_timestamp             0
review_timestamp             14901
annotation_quality_score      2979
error_flag                       0
error_type                   84999
time_spent_seconds            1995
annotator_experience_days        0
training_completed               0
guideline_version             3166
reviewer_id                  14901
confidence_score              3993
dtype: int64

In [6]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
100495    False
100496    False
100497    False
100498    False
100499    False
Length: 100500, dtype: bool

In [7]:
print(df['platform'].value_counts())

platform
Platform_A    60260
Platform_B    40240
Name: count, dtype: int64

In [8]:
print(df['project_name'].value_counts())

project_name
Project_A2_EntityExtraction      29224
Project_A1_Sentiment             29209
Project_B1_Classification        21878
Project_B2_Summarization         17142
 Project_A1_Sentiment              923
 Project_A2_EntityExtraction       904
 Project_B1_Classification         681
 Project_B2_Summarization          539
Name: count, dtype: int64

In [9]:
df["project_name"] = df["project_name"].str.strip()

In [10]:
print(df['project_name'].value_counts())

project_name
Project_A1_Sentiment           30132
Project_A2_EntityExtraction    30128
Project_B1_Classification      22559
Project_B2_Summarization       17681
Name: count, dtype: int64

In [11]:
# Find duplicates based on all columns except annotation_id
duplicate_mask = df.duplicated(subset=df.columns.difference(['annotation_id']), keep=False)
print(f"Total duplicate rows: {duplicate_mask.sum()}")

Total duplicate rows: 940

In [12]:
# Sort by submission time, then drop duplicates keeping first (earliest)
df_sorted = df.sort_values('submission_timestamp', ascending=True)
df_cleaned = df_sorted.drop_duplicates(
    subset=df.columns.difference(['annotation_id']), 
    keep='first'
).sort_index()  # Optional: restore original order

print(f"Original rows: {len(df)}")
print(f"After deduplication: {len(df_cleaned)}")
print(f"Removed: {len(df) - len(df_cleaned)} duplicates")

Original rows: 100500
After deduplication: 100030
Removed: 470 duplicates

In [13]:
df.isnull().sum()

annotation_id                    0
platform                         0
project_name                     0
annotator_id                     0
task_id                       2060
task_type                        0
submission_timestamp             0
review_timestamp             14901
annotation_quality_score      2979
error_flag                       0
error_type                   84999
time_spent_seconds            1995
annotator_experience_days        0
training_completed               0
guideline_version             3166
reviewer_id                  14901
confidence_score              3993
dtype: int64

In [14]:
df["task_id"] = df["task_id"].fillna("none")

In [15]:
df["review_timestamp"] = df["review_timestamp"].fillna("UNREVIEWED")

In [16]:
df["error_type"] = df["error_type"].fillna("no_error")

In [17]:
df["reviewer_id"] = df["reviewer_id"].fillna("UNREVIEWED")

In [18]:
df.drop("review_timestamp", axis=1, inplace=True)

In [19]:
df.isnull().sum()

annotation_id                   0
platform                        0
project_name                    0
annotator_id                    0
task_id                         0
task_type                       0
submission_timestamp            0
annotation_quality_score     2979
error_flag                      0
error_type                      0
time_spent_seconds           1995
annotator_experience_days       0
training_completed              0
guideline_version            3166
reviewer_id                     0
confidence_score             3993
dtype: int64

In [20]:
df["submission_timestamp"] = pd.to_datetime(
    df["submission_timestamp"],
    format="%m/%d/%Y %H:%M",
    errors="coerce"
)

df["month"] = df["submission_timestamp"].dt.month_name()

df["time_of_day"] = df["submission_timestamp"].dt.hour.apply(
    lambda h:
        "Morning" if 6 <= h < 12 else
        "Afternoon" if 12 <= h < 18 else
        "Evening" if 18 <= h < 24 else
        "Night"
)

In [21]:
df.head()

,annotation_id,platform,project_name,annotator_id,task_id,task_type,submission_timestamp,annotation_quality_score,error_flag,error_type,time_spent_seconds,annotator_experience_days,training_completed,guideline_version,reviewer_id,confidence_score,month,time_of_day
0,ANN_078303,Platform_A,Project_A1_Sentiment,USER_A_0068,TASK_94975,sentiment_scale,2024-01-07 16:36:00,0.81,0,no_error,83.0,311,No,v1.3.1,REV_029,0.51,January,Afternoon
1,ANN_066465,Platform_A,Project_A2_EntityExtraction,USER_A_0218,TASK_16926,location_entity,2024-09-16 10:13:00,0.97,0,no_error,78.0,270,Yes,v2.0.2,REV_002,NaN,September,Morning
2,ANN_093228,Platform_B,Project_B2_Summarization,USER_B_0109,TASK_76406,text_summary,2024-09-01 18:18:00,0.74,0,no_error,91.0,3,Yes,v2.0.0,UNREVIEWED,0.81,September,Evening
3,ANN_001748,Platform_A,Project_A2_EntityExtraction,USER_A_0208,TASK_10746,person_entity,2024-02-20 21:56:00,0.76,0,no_error,106.0,212,Yes,v2.0.0,REV_014,0.53,February,Evening
4,ANN_080005,Platform_A,Project_A2_EntityExtraction,USER_A_0021,TASK_19426,organization_entity,2024-01-20 18:16:00,0.86,0,no_error,35.0,37,1,v1.1.6,REV_014,0.51,January,Evening

In [23]:
# Replace outliers with task-specific median
task_medians = df.groupby('task_type')['time_spent_seconds'].median()

for task_type in df['task_type'].unique():
    mask = df['task_type'] == task_type
    outlier_mask = df['time_is_outlier']
    
    df.loc[mask & outlier_mask, 'time_spent_seconds'] = task_medians[task_type]

In [24]:
#imputing missing quality score with grouped median
df["annotation_quality_score"] = (
    df.groupby(["platform", "project_name", "task_type"])["annotation_quality_score"]
      .transform(lambda x: x.fillna(x.median()))
)

# fallback
df["annotation_quality_score"] = (
    df.groupby(["platform", "task_type"])["annotation_quality_score"]
      .transform(lambda x: x.fillna(x.median()))
)

# final fallback
df["annotation_quality_score"] = df["annotation_quality_score"].fillna(
    df["annotation_quality_score"].median()
)

In [25]:
#imputing missing time in seconds with grouped median
df["time_spent_seconds"] = (
    df.groupby(["platform", "project_name", "task_type"])["time_spent_seconds"]
      .transform(lambda x: x.fillna(x.median()))
)

# fallback
df["time_spent_seconds"] = (
    df.groupby(["platform", "task_type"])["time_spent_seconds"]
      .transform(lambda x: x.fillna(x.median()))
)

# final fallback
df["time_spent_seconds"] = df["time_spent_seconds"].fillna(
    df["time_spent_seconds"].median()
)

In [26]:
#imputing missingquality score with grouped median
df["confidence_score"] = (
    df.groupby(["platform", "project_name", "task_type"])["confidence_score"]
      .transform(lambda x: x.fillna(x.median()))
)

# fallback
df["confidence_score"] = (
    df.groupby(["platform", "task_type"])["confidence_score"]
      .transform(lambda x: x.fillna(x.median()))
)

# final fallback
df["confidence_score"] = df["confidence_score"].fillna(
    df["confidence_score"].median()
)

In [27]:
df.isnull().sum()

annotation_id                   0
platform                        0
project_name                    0
annotator_id                    0
task_id                         0
task_type                       0
submission_timestamp            0
annotation_quality_score        0
error_flag                      0
error_type                      0
time_spent_seconds              0
annotator_experience_days       0
training_completed              0
guideline_version            3166
reviewer_id                     0
confidence_score                0
month                           0
time_of_day                     0
time_is_outlier                 0
dtype: int64

In [28]:
df.head()

,annotation_id,platform,project_name,annotator_id,task_id,task_type,submission_timestamp,annotation_quality_score,error_flag,error_type,time_spent_seconds,annotator_experience_days,training_completed,guideline_version,reviewer_id,confidence_score,month,time_of_day,time_is_outlier
0,ANN_078303,Platform_A,Project_A1_Sentiment,USER_A_0068,TASK_94975,sentiment_scale,2024-01-07 16:36:00,0.81,0,no_error,83.0,311,No,v1.3.1,REV_029,0.51,January,Afternoon,False
1,ANN_066465,Platform_A,Project_A2_EntityExtraction,USER_A_0218,TASK_16926,location_entity,2024-09-16 10:13:00,0.97,0,no_error,78.0,270,Yes,v2.0.2,REV_002,0.74,September,Morning,False
2,ANN_093228,Platform_B,Project_B2_Summarization,USER_B_0109,TASK_76406,text_summary,2024-09-01 18:18:00,0.74,0,no_error,91.0,3,Yes,v2.0.0,UNREVIEWED,0.81,September,Evening,False
3,ANN_001748,Platform_A,Project_A2_EntityExtraction,USER_A_0208,TASK_10746,person_entity,2024-02-20 21:56:00,0.76,0,no_error,106.0,212,Yes,v2.0.0,REV_014,0.53,February,Evening,False
4,ANN_080005,Platform_A,Project_A2_EntityExtraction,USER_A_0021,TASK_19426,organization_entity,2024-01-20 18:16:00,0.86,0,no_error,35.0,37,1,v1.1.6,REV_014,0.51,January,Evening,False

In [30]:
# Impute guideline_version with mode grouped by platform, project, task_type, and month
df['guideline_version_imputed'] = False

# Calculate mode for each group
group_mode = df.groupby(['platform', 'project_name', 'task_type', 'month'])['guideline_version'].agg(
    lambda x: x.mode()[0] if not x.mode().empty else None
)

# Impute missing values
for idx, mode_version in group_mode.items():
    if mode_version is not None:
        platform, project, task_type, month = idx
        mask = (
            (df['platform'] == platform) &
            (df['project_name'] == project) &
            (df['task_type'] == task_type) &
            (df['month'] == month) &
            (df['guideline_version'].isna())
        )
        df.loc[mask, 'guideline_version'] = mode_version
        df.loc[mask, 'guideline_version_imputed'] = True

# Fallback for any still missing (rare edge cases)
still_missing = df['guideline_version'].isna()
if still_missing.any():
    print(f"Still missing after month-based imputation: {still_missing.sum()}")
    
    # Use broader grouping as fallback
    broader_mode = df.groupby(['platform', 'project_name', 'task_type'])['guideline_version'].transform(
        lambda x: x.mode()[0] if not x.mode().empty else 'Unknown'
    )
    df.loc[still_missing, 'guideline_version'] = broader_mode[still_missing]
    df.loc[still_missing, 'guideline_version_imputed'] = True

print(f"\nTotal imputed: {df['guideline_version_imputed'].sum()}")
print(f"Remaining missing: {df['guideline_version'].isna().sum()}")

Total imputed: 3166
Remaining missing: 0

In [31]:
df.isnull().sum()

annotation_id                0
platform                     0
project_name                 0
annotator_id                 0
task_id                      0
task_type                    0
submission_timestamp         0
annotation_quality_score     0
error_flag                   0
error_type                   0
time_spent_seconds           0
annotator_experience_days    0
training_completed           0
guideline_version            0
reviewer_id                  0
confidence_score             0
month                        0
time_of_day                  0
time_is_outlier              0
guideline_version_imputed    0
dtype: int64

In [32]:
df.head()

,annotation_id,platform,project_name,annotator_id,task_id,task_type,submission_timestamp,annotation_quality_score,error_flag,error_type,time_spent_seconds,annotator_experience_days,training_completed,guideline_version,reviewer_id,confidence_score,month,time_of_day,time_is_outlier,guideline_version_imputed
0,ANN_078303,Platform_A,Project_A1_Sentiment,USER_A_0068,TASK_94975,sentiment_scale,2024-01-07 16:36:00,0.81,0,no_error,83.0,311,No,v1.3.1,REV_029,0.51,January,Afternoon,False,False
1,ANN_066465,Platform_A,Project_A2_EntityExtraction,USER_A_0218,TASK_16926,location_entity,2024-09-16 10:13:00,0.97,0,no_error,78.0,270,Yes,v2.0.2,REV_002,0.74,September,Morning,False,False
2,ANN_093228,Platform_B,Project_B2_Summarization,USER_B_0109,TASK_76406,text_summary,2024-09-01 18:18:00,0.74,0,no_error,91.0,3,Yes,v2.0.0,UNREVIEWED,0.81,September,Evening,False,False
3,ANN_001748,Platform_A,Project_A2_EntityExtraction,USER_A_0208,TASK_10746,person_entity,2024-02-20 21:56:00,0.76,0,no_error,106.0,212,Yes,v2.0.0,REV_014,0.53,February,Evening,False,False
4,ANN_080005,Platform_A,Project_A2_EntityExtraction,USER_A_0021,TASK_19426,organization_entity,2024-01-20 18:16:00,0.86,0,no_error,35.0,37,1,v1.1.6,REV_014,0.51,January,Evening,False,False

In [ ]:
output_filename = 'cleaned_data.csv'
df.to_csv(output_filename, index=False)

print(f" Cleaned data successfully saved to: {C:\Users\Pc\Desktop\Dataanalysis\claudata(output_filename)}")

In [ ]:
## Connection to postgress sql
from sqlalchemy import create_engine
username = "postgres"
password = "valval"
host = "localhost"
port = "5432"
database = "error_rates_analysis"

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

table_name = "annotationtable"
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table'{table_name}' in database '{database}'.")